th  {
      	text-align: center;
      	vertical-align: middle;
      }
.modal.fade.in {
    top: 20%;
}
.modal.fade {
    display: none;
}

.pagination ul > li > a, .pagination ul > li > span {
    
    line-height: 25px;
}